ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input:focus {
  color: var(--white);
  outline: none;
}

input {
  color: var(--white);
}

span {
  margin: 0px;
  transition: all 0.4s ease-in-out;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-items {
  margin-top: 25px;
}
.list-items li {
  position: relative;
  padding-left: 32px;
  line-height: 1.6;
}
.list-items li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3em;
  width: 22px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='14' viewBox='0 0 22 14' fill='none'%3E%3Cpath d='M11.3909 14C11.0558 14 10.8325 13.8667 10.6091 13.6L5.91878 8C5.47208 7.46667 5.47208 6.66667 5.91878 6.13333C6.36548 5.6 7.03553 5.6 7.48223 6.13333L11.3909 10.8L20.1015 0.4C20.5482 -0.133333 21.2183 -0.133333 21.665 0.4C22.1117 0.933333 22.1117 1.73333 21.665 2.26667L12.1726 13.6C12.0609 13.8667 11.7259 14 11.3909 14Z' fill='%23EFFB53'/%3E%3Cpath d='M5.80711 14C5.47208 14 5.24873 13.8667 5.02538 13.6L0.335025 8C-0.111675 7.46667 -0.111675 6.66667 0.335025 6.13333C0.781726 5.6 1.45178 5.6 1.89848 6.13333L6.58883 11.7333C7.03553 12.2667 7.03553 13.0667 6.58883 13.6C6.47716 13.8667 6.14213 14 5.80711 14ZM11.7259 7.06667C11.3909 7.06667 11.1675 6.93333 10.9442 6.66667C10.4975 6.13333 10.4975 5.33333 10.9442 4.8L14.5178 0.4C14.9645 -0.133333 15.6345 -0.133333 16.0812 0.4C16.5279 0.933333 16.5279 1.73333 16.0812 2.26667L12.5076 6.66667C12.2843 6.93333 12.0609 7.06667 11.7259 7.06667Z' fill='%23EFFB53'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.list-items li > ul {
  margin-top: 16px;
}
.list-items ul.list-items li::before {
  background-image: url('/star.png');
}
.list-items li span {
  display: inline-block;
  font-weight: 700;
  color: var(--white);
  padding-left: 0;
}
.list-items li:not(:last-child) {
  margin-bottom: 15px;
}
